$primary: #3292a6;
$primary-overlay: rgba(50,146,166,0.8);
body {
	margin-top: 85px;
}
.navbar {
	box-shadow: 2px 2px 5px $primary;
	opacity: 0.9;
	background: #fff;
	.nav-item {
		padding-right: 1.4rem;
		font-size: 1.4rem;
	}
}
#showcase {
	position: relative;
	background: url(../img/mountains.jpg);
	min-height: 600px;
	.primary-overlay {
		position: absolute;
		background: $primary-overlay;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}
.info-header {
	margin: auto;
	width: 50%;
	border-bottom: 1px #ddd solid;
}
#authors {
	img {
		margin-top: -50px;
	}
	.card:hover {
		background: $primary;
		color: #fff;
		.fab {
		color: #fff;
		}
	}
}
@media(max-width: 992px) {
	#authors {
		.mb-a-resp {
			margin-bottom: 2.5rem;
		}
	}
}
@media(max-width: 768px) {
	#newsletter,#boxes {
		.mb-resp {
			margin-bottom: 1rem;
		}
	}
}
@media(max-width: 450px) {
	#showcase {
		min-height: 500px;
		h1 {
			font-size: 2.5rem;
		}
		p {
			font-size: 1.2rem;
		}
	}
}